* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vh;
  height: 90vh;
  border: 1px solid #aaa;
  padding-inline: 20px;
  overflow-x: scroll;
  overflow-x: hidden;
}
.heading {
  margin: 20px 0px 20px 0px;
  font-size: 30px;
}
.description {
  font-size: 20px;
}
